nav {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 1.2em;
}

a.nav-fontsize {
  font-size: 1em;
  margin-right: 1em;
}

h2.fontThisRight {
  font-family: 'SeasonedHostess';
  font-size: 2.5em;
}

p.grey-text {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 14.5px;
}

.tedhead-img {
  background-image: 'https://mdbootstrap.com/img/Photos/Others/project4.jpg';
}

#hiKarl header {
  height: 63px;
}

img.ux-strat {
  height: 114px;
  width: 244px;
}

img.designReworked {
  height: 185px;
  width: 210px;
  margin-left: 15px;
}

img.brandStrategy {
  height: 132px;
  width: 208px;
  margin-left: 10px;
}

img.dev {
  height: 118px;
  width: 245px;
  margin-top: 55px;
  margin-left: 40px;
}

img.aboutMe {
  height: 5em;
  width: 10em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.whatIDo {
  height: 2.5em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img#technologiesWhite {
  height: 2.5em;
  width: 15em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.test {
  background-color: #222;
}

hr.colorChange {
  background-color: white;
}

p.descriptionsFont {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 14.5px;
}

.icolor {
  color: #fafafa;
}

.spacing {
  margin-bottom: 50px;
}

.pageHeader {
  font-family: 'Didact Gothic', sans-serif;
}

.addMargin {
  margin-top: 50px;
}

.addMarginBottom {
  margin-bottom: 155px;
}

.addMarginBottom2 {
  margin-bottom: 155px;
}

/* .headings, */
.blurbs {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 1.2em;
}

.centerCopyright {
  text-align: center;
}

.openItalic {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.openSemiBold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.pageBGcolor {
  background-color: #fafafa;
}

.specs {
  height: 416px;
  width: 741px;
  margin-left: auto;
  margin-right: auto;
}

.widthSpec {
  width: 411px;
}

.width2 {
  width: 500px;
}

#makeBlk {
  border-left: 3px;
  border-left-style: solid;
  border-left-color: black;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.centerMe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.hikarl {
 width: 282px;
 height: 495px:
}