nav {
  /* font-family: 'SeasonedHostess'; */
  font-family: 'Didact Gothic', sans-serif;
}

.nav-item {
  margin-right: 0.5em;
}

a.nav-fontsize {
  font-size: 1.2em;
  margin-right: 1em;
}

h2.fontThisRight {
  font-family: 'SeasonedHostess';
  font-size: 2.5em;
}

p.text {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 18px;
  color: black;
}

.tedhead-img {
  background-image: 'https://mdbootstrap.com/img/Photos/Others/project4.jpg';
}

#hiKarl header {
  height: 63px;
}

img.ux-strat {
  height: 114px;
  width: 244px;
}

img.designReworked {
  height: 185px;
  width: 210px;
  margin-left: 15px;
}

img.brandStrategy {
  height: 132px;
  width: 208px;
  margin-left: 10px;
}

img.dev {
  height: 118px;
  width: 245px;
  margin-top: 55px;
  margin-left: 40px;
}

img.aboutMe {
  height: 5em;
  width: 10em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.whatIDo {
  height: 2.5em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img#technologiesWhite {
  height: 2.5em;
  width: 15em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.test {
  background-color: #222;
}

hr.colorChange {
  background-color: white;
}

p.descriptionsFont {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 14.5px;
}

.icolor {
  color: #fafafa;
}

.spacing {
  margin-bottom: 50px;
}

.addMarginTop {
  margin-top: 150px;
}

#projects {
  height: 62px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* .resize {
  height: 322.8px;
  width: 586.02px;
} */
